*{
    margin: 0;
    padding: 0;
    font-family: "Fortune";
}
@font-face {
    font-family: "Fortune";
    src: url(/Fortunecity-zX0L.ttf);
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: #999999;
}
input{
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
}
.invalid{
    background-color: lightcoral;
    color: white;
}

.cardContainer{
    height: 450px;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    background-position: center;
    border: none;
    
}

.topContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}
.bottomContent{
    width: 100%;
}
.topPart{
    display: flex;
    justify-content: space-around;
    
}
.bottomPart{
    display: flex;
    justify-content: space-around;
    
}
.locationContainer, .weatherContainer{
    font-size: 25px;
    color: white;
}
.temperatureContainer{
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: white;
}

.windIcon,
.humidityIcon,
.visibleIcon,
.pressureIcon{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 50px;
    font-size: 20px;
    color: white;
}


#icon{
    display: none;
    
}