*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.cardContainer{
    height: 350px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
}

.topContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}